* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background : #007b80;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 90vh;
    /* background: linear-gradient(to right, #00adb5, #393e46); */

    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #00adb5;
    color: white;
    transform: scale(1.05);
}

/* Features */
.features {
    padding: 50px 20px;
    text-align: center;
}

.feature-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background: #f4f4f4;
    width: 250px;
}

/* Contact */
.contact {
    padding: 50px 20px;
    text-align: center;
    background: #f9f9f9;
}

.contact a {
    color: #00adb5;
    text-decoration: none;
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #007b80;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Responsive */
@media(max-width: 768px) {
    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }
}